    <!-- about section-->
    <section class="pb-0 about" id="about">
        <div class="about-chat">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="section-title">
                  <h2>About Chat Loop/Acerca del bucle de chat</h2>
                  <div class="line"></div>
                </div>
              </div>
              <div class="col-md-12 about-box">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 about-border">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/stay-connected.png"
                        alt="stay-connected"
                      />
                      <h3 class="sub-title">stay connected/Mantente conectado</h3>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 about-border">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/get-notified.png"
                        alt="get-notified"
                      />
                      <h3 class="sub-title">Get Notified/Ser notificado</h3>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 about-border">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/stay-updated.png"
                        alt="stay-updated"
                      />
                      <h3 class="sub-title">Stay Updated/Mantente actualizado</h3>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/mini-world.png"
                        alt="mini-world"
                      />
                      <h3 class="sub-title">Mini World/Minimundo</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="chat-slide">
                  <h3>
                    Connect with People all over the world , with your small
                    device/Conéctate con personas de todo el mundo, con tu pequeño
                    dispositivo
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid text-center">
          <img
            class="img-fluid full-banner"
            src="../../assets/images/banner.png"
            alt="banner.png"
          />
        </div>
      </section>