    <!-- about section-->
    <section class="pb-0 about" id="about">
        <div class="about-chat">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="section-title">
                  <h2>Beneficios de Anunciarte con PublicAdis</h2>
                  <div class="line"></div>
                </div>
              </div>
              <div class="col-md-12 about-box">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 about-border">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/stay-connected.png"
                        alt="stay-connected"
                      />
                      <h3 class="sub-title">Consigue más interesados</h3>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 about-border">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/get-notified.png"
                        alt="get-notified"
                      />
                      <h3 class="sub-title">Aumenta tus ventas</h3>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 about-border">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/stay-updated.png"
                        alt="stay-updated"
                      />
                      <h3 class="sub-title">Publica cuando quieras</h3>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="chat-box">
                      <img
                        src="../../assets/images/mini-world.png"
                        alt="mini-world"
                      />
                      <h3 class="sub-title">Escoge quienes te verán</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="chat-slide">
                  <h3>
                    Qué vean tu aviso en cualquier momento desde su celular
                  </h3>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid text-center">
          <img
            class="img-fluid full-banner"
            src="../../assets/images/banner.png"
            alt="banner.png"
          />
        </div>
      </section>