    <!-- FAQ section-->
    <section class="theme-bg faq" id="faq">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="section-title">
                <h2 class="text-white">Preguntas frecuentes</h2>
                <div class="line white"></div>
              </div>
            </div>
          </div>
          <div class="row faq-row">
            <div class="col-lg-6">
              <div class="accordion" id="accordionExample">
                <div class="card mb-3">
                  <div class="card-header" id="headingzero">
                    <h5 class="mb-0">
                      <button
                        class="faq-link"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsezero"
                        aria-expanded="false"
                        aria-controls="collapsezero"
                      >
                        01 ¿Se sincronizan los datos entre diferentes dispositivos en los que uso la aplicación?<i
                          class="fa fa-angle-down pull-right"
                        ></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    class="collapse"
                    id="collapsezero"
                    aria-labelledby="headingzero"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Sí, la aplicación sincroniza los datos entre diferentes dispositivos que uses.
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button
                        class="faq-link"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        02  ¿Cuáles son los requisitos mínimos del sistema para ejecutar la aplicación en diferentes plataformas?<i
                          class="fa fa-angle-down pull-right"
                        ></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    class="collapse show"
                    id="collapseOne"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Los requisitos mínimos del sistema varían según la plataforma, pero la aplicación funciona en la mayoría de los dispositivos modernos.
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button
                        class="faq-link"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        03 ¿Con qué frecuencia se lanzan actualizaciones para la aplicación en diferentes plataformas?<i
                          class="fa fa-angle-down pull-right"
                        ></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    class="collapse"
                    id="collapseTwo"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      La aplicación recibe actualizaciones periódicas, el intervalo puede variar según el desarrollador, pero generalmente se lanzan cada cierto tiempo para mejorar la experiencia del usuario y corregir errores.
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        class="faq-link"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        04 ¿En qué dispositivos puedo utilizar esta aplicación?<i
                          class="fa fa-angle-down pull-right"
                        ></i>
                      </button>
                    </h5>
                  </div>
                  <div
                    class="collapse"
                    id="collapseThree"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Puedes utilizar la aplicación en diferentes dispositivos como teléfonos inteligentes, tabletas y computadoras, independientemente de su sistema operativo.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-center">
              <img class="img-fluid" src="../../assets/images/faq.png" alt="" />
            </div>
          </div>
        </div>
      </section>