<!-- Feature section-->
<section class="theme-bg feature" id="feature">
    <div class="container">
      <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2 class="text-white">Características de PublicAdis</h2>
            <div class="line white"></div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="future-box">
            <div class="future-timeline">
              <ul>
                <li class="timeline">
                  <h4 class="sub-title">instalación sencilla y rapida</h4>
                  <p>¡Empieza en segundos! Solo descarga la app desde Play Store o App Store y comienza a disfrutar.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Aplicación de chat multiplataforma</h4>
                  <p>Conéctate en todas partes. Chatea sin límites.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Copia de seguridad y recuperación seguras</h4>
                  <p>Tu seguridad es nuestra prioridad. Respaldo y recuperación de datos confiables para proteger tus archivos importantes.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Compartir archivos de manera sencilla</h4>
                  <p>Comparte archivos fácilmente. Nuestra aplicación hace que compartir sea tan simple como un clic.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 future-mobile">
          <img
            class="img-fluid"
            src="../../assets/images/feature-mob.png"
            alt="feature-mob"
          />
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="future-box">
            <div class="future-timeline-right">
              <ul class="text-start">
                <li class="timeline-right">
                  <h4 class="sub-title">instalación sencilla y rapida</h4>
                  <p>¡Empieza en segundos! Solo descarga la app desde Play Store o App Store y comienza a disfrutar.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Aplicación de chat multiplataforma</h4>
                  <p>Conéctate en todas partes. Chatea sin límites.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Copia de seguridad y recuperación seguras</h4>
                  <p>Tu seguridad es nuestra prioridad. Respaldo y recuperación de datos confiables para proteger tus archivos importantes.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Compartir archivos de manera sencilla</h4>
                  <p>Comparte archivos fácilmente. Nuestra aplicación hace que compartir sea tan simple como un clic.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end Feature section-->