<!-- Feature section-->
<section class="theme-bg feature" id="feature">
    <div class="container">
      <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2 class="text-white">Funcionalidades de PublicAdis</h2>
            <div class="line white"></div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="future-box">
            <div class="future-timeline">
              <ul>
                <li class="timeline">
                  <h4 class="sub-title">Amplitud de Audiencia:</h4>
                  <p>Alcance a una amplia audiencia local y/o global, aumentando la visibilidad de tus anuncios.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Fácil de Usar:</h4>
                  <p>Interfaz intuitiva y fácil de navegar que permite a los usuarios publicar y encontrar anuncios rápidamente.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Resultados Rápidos:</h4>
                  <p>Alta tasa de respuesta gracias a una comunidad activa y comprometida.</p>
                </li>
                <li class="timeline">
                  <h4 class="sub-title">Variedad de Categorías:</h4>
                  <p>Encuentra y publica anuncios en múltiples categorías como empleos, inmuebles, vehículos, servicios, productos y más.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 future-mobile">
          <img
            class="img-fluid"
            src="../../assets/images/feature-mob.png"
            alt="feature-mob"
          />
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="future-box">
            <div class="future-timeline-right">
              <ul class="text-start">
                <li class="timeline-right">
                  <h4>Búsqueda Avanzada:</h4>
                  <p>Herramientas de búsqueda avanzadas y filtros detallados para encontrar exactamente lo que necesitas.</p>
                </li>
                <li class="timeline-right">
                  <h4>Publicación Gratuita:</h4>
                  <p>Opción de publicar anuncios de manera gratuita, con posibilidades de promoción pagada para mayor visibilidad.</p>
                </li>
                <li class="timeline-right">
                  <h4>Geolocalización:</h4>
                  <p>Funcionalidad de geolocalización para encontrar anuncios relevantes cerca de tu ubicación.</p>
                </li>
                <li class="timeline-right">
                  <h4>Integración con Redes Sociales:</h4>
                  <p>Comparte tus anuncios fácilmente en redes sociales para aumentar su alcance y visibilidad.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end Feature section-->