    <!-- Nav start-->
    <nav class="navbar navbar-expand-lg theme-nav fixed-top">
        <div class="container">
          <a class="navbar-brand" href="index.html"
            ><img src="../../assets/images/logo.png" alt="logo" class="logo-principal"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainmenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"
              ><i class="fa fa-align-justify" aria-hidden="true"></i
            ></span>
          </button>
          <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ms-auto" id="mymenu">
              <li class="nav-item"><a class="nav-link" href="#home">Inicio</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#feature">feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#screenshots">capturas</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#team">Equipo</a></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#news"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Blog</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="blog.html">lista de blogs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blog-details.html">detalles del blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blogs-leftside.html">leftsidebar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blogs-rightside.html"
                      >rightsidebar</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blog-details-with-leftsidebar.html"
                      >details leftsidebar</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blog-details-with-rightsidebar.html"
                      >details rightsidebar</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contáctenos</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Otra página</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="sign-in.html">Iniciar sesión</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sign-up.html">registrarse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="forgot-pass.html"
                      >Contraseña olvidada</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="thank-you.html">Gracias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="review.html">reseña</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="coming-soon.html">Muy pronto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="download.html">Descargar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="request.html">Solicitar demostración</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="404.html">404</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>