    <!-- package section-->
    <section class="theme-bg" id="package">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="section-title">
                <h2 class="text-white">Nuestros planes</h2>
                <div class="line white"></div>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <div class="plan-slider owl-carousel owl-theme">
                <div class="item">
                  <div class="package-box">
                    <h3>Miniatura</h3>
                    <p>Como las del periodico</p>
                    <div class="price-box">
                      <span>s/</span>
                      <h2>15</h2>
                      <h5 class="plan-clr"><span class="d-block">x 1 día</span></h5>
                    </div>
                    <div class="price-plan text-center">
                      <ul>
                        <li>24/7 On-site Support</li>
                        <li>real time sync</li>
                        <li>unlimited attachment</li>
                        <li>customize theme</li>
                      </ul>
                      <div class="price-plan-btn">Seleccionar Plan</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="package-box">
                    <h3>Pequeño</h3>
                    <div class="price-box">
                      <span>s/</span>
                      <h2>30</h2>
                      <h5 class="plan-clr"><span class="d-block">x 3 días</span></h5>
                    </div>
                    <div class="price-plan text-center">
                      <ul>
                        <li>real time sync</li>
                        <li>unlimited attachment</li>
                        <li>customize theme</li>
                        <li>priority email support</li>
                      </ul>
                      <div class="price-plan-btn">Seleccionar Plan</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="package-box">
                    <h3>Mediano</h3>
                    <div class="price-box">
                      <span>s/</span>
                      <h2>50</h2>
                      <h5 class="plan-clr"><span class="d-block">x 7 días</span></h5>
                    </div>
                    <div class="price-plan text-center">
                      <ul>
                        <li>24/7 On-site Support</li>
                        <li>real time sync</li>
                        <li>customize theme</li>
                        <li>priority email support</li>
                      </ul>
                      <div class="price-plan-btn">Seleccionar Plan</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="package-box">
                    <h3>Grande</h3>
                    <div class="price-box">
                      <span>s/</span>
                      <h2>100</h2>
                      <h5 class="plan-clr"><span class="d-block">x 15 días</span></h5>
                    </div>
                    <div class="price-plan text-center">
                      <ul>
                        <li>24/7 On-site Support</li>
                        <li>unlimited attachment</li>
                        <li>customize theme</li>
                        <li>priority email support</li>
                      </ul>
                      <div class="price-plan-btn">Seleccionar Plan</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="package-box">
                    <h3>Extreme</h3>
                    <div class="price-box">
                      <span>s/</span>
                      <h2>150</h2>
                      <h5 class="plan-clr"><span class="d-block">x 31 días</span></h5>
                    </div>
                    <div class="price-plan text-center">
                      <ul>
                        <li>24/7 On-site Support</li>
                        <li>real time sync</li>
                        <li>customize theme</li>
                        <li>priority email support</li>
                      </ul>
                      <div class="price-plan-btn">Seleccionar Plan</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>