    <!-- slider-section-->
    <section class="slide-bg" id="home">
        <div class="animation-circle"><i></i><i></i><i></i></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex-1">
                <div class="slide-text">
                  <div>
                    <h1>
                      Publica tus anuncios en el portal m치s grande de avisos clasificados en Cusco y llega m치s lejos con<span
                        class="main-title"
                      >
                        PublicAdis!</span
                      >
                    </h1>
                    <h4>
                      游Consigue m치s interesados en lo que ofreces <br>
                      游눯Vende, alquila oda en anticresis tu inmueble <br>
                      游뚱Muestra tu vehiculos para que lo compren <br>
                      游농游낕Contrata al personal ideal para tu negocio <br>
                      游늳Vende m치s y m치s con PublicAdis <br>
                      游꿢Logra tus objetivos m치s r치pido
                    </h4>
                    <div class="slid-btn">
                      <a href="https://play.google.com/store/apps/details?id=buscadis.publicadis"
                        ><img
                          class="img-fluid"
                          src="../../assets/images/app1.png"
                          alt="app1"
                          data-tilt=""
                          data-tilt-perspective="50"
                          data-tilt-speed="350"
                          data-tilt-max="1.8" /></a
                      ><a href="https://BuscAdis.com"
                        ><img
                          class="img-fluid"
                          src="../../assets/images/app2.png"
                          alt="app2"
                          data-tilt=""
                          data-tilt-perspective="50"
                          data-tilt-speed="350"
                          data-tilt-max="1.8"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="home-right">
                <div class="mobile-slid">
                  <img
                    class="img-fluid"
                    src="../../assets/images/top-mobile.png"
                    alt="top1"
                  />
                </div>
                <div class="profile-msg">
                  <img
                    class="img-fluid"
                    src="../../assets/images/top2.png"
                    alt="top2"
                  />
                </div>
                <div class="awesome">
                  <img
                    class="img-fluid"
                    src="../../assets/images/top3.png"
                    alt="top3"
                  />
                </div>
                <div class="profile-1">
                  <img
                    class="img-fluid"
                    src="../../assets/images/lupa.png"
                    alt="top4"
                  />
                </div>
                <div class="emoji">
                  <img
                    class="img-fluid"
                    src="../../assets/images/altavoz.png"
                    alt="top5"
                  />
                </div>
                <div class="profile-2">
                  <img
                    class="img-fluid"
                    src="../../assets/images/dar-dinero.png"
                    alt="top1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>