/* *Here we import our global font for our page: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* *Here we set our global vars value: */
:root{
    /* * General transition time: */
    --general-transition-time: 400ms;

   /* * Colors of the page */
    --font-color:#212529;
    --component-color: #205372;

    /* * global font style: */
    --global-font: "Poppins", sans-serif;

    /* * Font size */
    --normal-font-size:1rem;
    
    /* *Navbar: */
    --link-font-size:1.3rem;
    --nav-option-list-width: 65%;
    --nav-option-list-height: fit-content;
    --hover-main: #09f5ce;
    --hover-main-span: #079cff;

    /* *Main section components: */
    --main-section-height: 119.4vh;
    --main-title-color: #ffffff;    
    --main-span-color: #ffffff;
    --prove-slider-container-2-width: 58vw;
    --prove-slider-container-2-height: 90vh;

    /* *InfoBox: */
    --access-icon-width: 2.5rem;    
    --access-icon-height: 2.5rem;
    --main-icon-width: 3.2rem;    
    --main-icon-heigth: 3.2rem;
    --app-button-width: 37%;    
    --app-button-height: 3rem;
    --main-titles-size:2.57rem;    
    --sub-titles-size: 1.5rem;    
    --title-size: 1.2rem;    
    --section-main-title-span: 2.4rem;
    --app-button-radius: 1rem;
    --app-button-font-size: 1.3rem;
    --main-title-span-color: #233cad;
    --app-button-color: #2342cf;    
    --app-button-color-text:whitesmoke;    
    --app-button-hover-color: #0b7afa;
    --info-box-main-section-width: 51%;
    --info-box-main-section-height: 100%;
    --main-section-title-span-color: #07c1e2;
    --main-title-font-size: 5rem;
    --main-title-span-font-size: 4.8rem;
    --main-section-text-font-size: 1.9rem;
    --main-section-text-width: 100%;
    --info-box-width: 100%;
    --info-box-height: fit-content;

    /* *Main slider: */
    --slider-main-section-width: 49%;
    --slider-main-section-height: 100%;
    --web-app-image-width: 66vw;    
    --web-app-image-height: 60vh; 
    --phone-app-image-width: 34vw;    
    --phone-app-image-height: 109vh;
    --slider-animation-translate-size: 1rem;

    /* *Hero: */
    --hero-feature-font-size: 1.3rem;

    /* *Service section components: */

     /* *Service card: */
    --service-title-span-size: 1.45rem;    
    --service-title-font-size: 1.35rem;    
    --service-title-radius-value: 1.2rem;
    --service-icon-width: 62%;    
    --service-icon-height: 62%;
    --service-title-span-color: #0463d1;
    --card-radius-value: 1.3rem;
    --service-component-width: 33.33%;
    --service-component-height: 83%;
    --service-component-margin: 5% 0 5% 0;

    /* *Benefits section components: */

    /* *Benefit card: */
    --benefit-title-font-size: 1.3rem;    
    --benefit-title-span-font-size: 1.4rem;
    --benefit-icon-width: 104%;    
    --benefit-icon-height: 104%;
    --benefit-title-span-color: #45d10e;
    --benefit-component-height: 100%;

    /* *AppSlider section components: */
    --step-message-font-size: 2rem;
    --app-slider-image-width: 25vw;    
    --app-slider-image-height: 72vh;
    --slider-image-container-width: 100%;    
    --slider-image-container-height: 100%;

    /* *Contact section components: */

    /* *Contact card */
    --contact-card-border-radius: 1.6rem;    
    --main-image-card-width: 200px;    
    --main-image-card-height: 200px;    
    --contact-text-font-size: 1.6rem;    
    --contact-span-font-size: 1.7rem;    
    --icons-title-span-font-size: 1.5rem;    
    --icons-title-font-size: 1.4rem;
    --contact-icon-width: 6rem;    
    --contact-icon-height: 6rem;
    --contact-text-color: #0beeaa;
    --contact-title-font-size: 1.8rem;
    --contact-card-section-width: 50%;
    --contact-card-section-heigh: 100%;

    /* *Carousel section components: */
    
    /* *Carousel*/
    --carousel-border-radius: 1.6rem; 
    --slide-border-size: 0.5rem;    
    --slide-text-size: 1.8rem;    
    --slide-text-span-size: 1.9rem;
    --slide-border-color: #00c3ff;
    --slide-text-width: 65%;
    --app-slider-section-height: 105vh;
    --slide-title-font-size: 2.3rem;
    --slider-title-font-size: 2.3rem;    

    /* *Footer: */
    --footer-main-text-size: 2rem;
    --contact-footer-icon-width: 4rem;
    --contact-footer-icon-height: 4rem;
    
}

/* * We set our universal settings */
* {
    font-size: var(--normal-font-size);
    font-family: var(--global-font);
    color: var(--font-color);
    font-weight: 600;
}

/* *We set our boy display for center our motherbox */
body{
    display: flex;    
    margin: 0;    
    padding: 0%;    
    box-sizing: border-box;

}

/* * GLOBAL CLASSES: */

/* * Here we set our main contaier dimensions */
.motherBox{
    width: 100vw;    
    height: fit-content;
    background: linear-gradient(-60deg, #05afaf , #e6dada);
}

.pageSection{
    width: 100%;    
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(-60deg, #07c5c5 , #f8f0f0 80%);
}

.title{
    font-size: var(--title-size);
    width: fit-content;    
    height: fit-content;
}

.subTitle{
    font-size: var(--sub-titles-size);
    width: fit-content;    
    height: fit-content;
}

.mainTitle{
    font-size: var(--main-titles-size);
    width: fit-content;    
    height: fit-content;
    color: var(--main-title-color);
}

.singleComponent{
    background-color: var(--component-color);
    width: 100%;    
    height: 15vh;
}

.accessIcon{
    width: var(--access-icon-width);    
    height: var(--access-icon-height);
}

.appButton{
    width: var(--app-button-width);    
    height: var(--app-button-height);
    background-color: var(--app-button-color);
    color: var(--app-button-color-text);
    border-radius: var(--app-button-radius);
    border-style: hidden;
    display: flex; 
    align-items: center;
    gap: 10%;
    transition: all var(--general-transition-time);
    padding: 0 1.2% 0 1.2%;    
    margin-top: 5%;
}

.appButton:hover{
    scale: 1.03;
    background-color: var(--app-button-hover-color);
}

.appButtonLink{
    color: var(--app-button-color-text);    
    text-decoration: none;
    font-size: var(--app-button-font-size);
}

.sectionMainTitle{
    color: var(--main-section-title-span-color);
    width: fit-content;
    padding: 0 5% 0 5%;
    border-radius: var(--service-title-radius-value);    
    background-color: white;
    box-sizing: border-box;    
    height: 10%;    
    text-align: center;    
    font-size: var(--main-titles-size);
}

/* *COMPONENT CLASSES: */

/* * NAV BAR: */
#navBar{
    height: 10vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0;    
    margin: 0;
    z-index: 2;
}

#navOptionsList{
    display: flex;
    width: var(--nav-option-list-width);
    height: var(--nav-option-list-height);
    gap: 5%;
    margin-left: 3%;
}

.navOption{
    text-decoration: none;
    color: whitesmoke;
    font-size: var(--link-font-size);
    transition: all var(--general-transition-time);
}

.navOption:hover{
    color: var(--hover-main);    
    scale: 1.005;
}

#pageLogoSpan{
    color: var(--main-span-color);
    transition: all var(--general-transition-time);
}

#pageLogoSpan:hover{
    color: var(--hover-main-span);
}

#logoTitle{
    transition: all var(--general-transition-time);
}

#logoTitle:hover{
    color: var(--hover-main);
}

.logo{
    text-decoration: none;
    margin-left: 2.5%;
    width: 20%;    
    height: 100%;
    transition: all var(--general-transition-time);
    display: flex;    
    align-items: center;
}

.logo:hover{
    scale: 1.02;
}

#logoIcon{
    border-radius: 100%;
    width: var(--main-icon-width);    
    height: var(--main-icon-heigth);
}

.responsiveMenuAccess{
    display: none;
}

/* *Main section components: */

/* * MAIN SLIDER COMPONENT: */
.sliderImageContainer{
    width: fit-content;    
    height: fit-content;
    display: flex;    
    justify-content: center;    
    align-items: center;
}

#webAppImage{
    width: var(--web-app-image-width);    
    height: var(--web-app-image-height) ;
    animation: float 2s linear infinite;    
    transition: all var(--general-transition-time);
}

#phoneAppImage{
    width: var(--phone-app-image-width) ;    
    height: var(--phone-app-image-height);
    animation: float 2s linear infinite;    
    transition: all var(--general-transition-time);
}

/**Animation of the images*/
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);    
    }

    50%{
        transform: translateY(var(--slider-animation-translate-size));    
    }
}

.mainSliderImage:hover{
    scale: 1.03;
}

.mainSliderImageLink{
    width: fit-content;    
    height: fit-content;
}

/* *INFO BOX COMPONENT CLASSES: */
#mainText{
    width: 90%;    
    height: fit-content;
    display: flex;    
    justify-content: start;
    color: var(--font-color);
    margin-right: 10%;    
    margin-bottom: 2%;
    font-size: var(--main-title-font-size);
}

#infoBox{
    width: var(--info-box-width);    
    height: var(--info-box-height);
    display: flex;    
    justify-content: center;    
    flex-flow: column;    
    align-items: center;
}

#buttonsContainer{
    display: flex;
    width: 100%;    
    height: fit-content;
    gap: 5%;
    margin: 1% 0 0 0;
}

#mainTextSpan{
    color: var(--main-title-span-color);
    font-size: var(--main-title-span-font-size);
}

#mainSectionText{
    margin: 4% 0 0 0;
    font-size: var(--main-section-text-font-size);
    width: var(--main-section-text-width);
    height: fit-content;
}

#proveSliderContainer2{
    width: var(--prove-slider-container-2-width);
    height: var(--prove-slider-container-2-height);
}

/* *Page features bar: */
.heroFeature{
    text-align: center;
    font-size: var(--hero-feature-font-size);
    background-color: var(--component-color);
    width: fit-content;
    height: 5vh;
    padding: 0.1% 2% 0.1% 2%;
    border-radius: 1rem;
    color: white;
}

.heroFeatureSpan{
    font-size: var(--hero-feature-span-font-size);
    color: white;
}

.heroContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: fit-content;
}

/* * Services components: */

#servicesContainer{
    width: 100%;    
    height: 90%;    
    padding-left: 2%;    
    padding-right: 2%;
    box-sizing: border-box;
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;
}

.service{
    width: var(--service-component-width);    
    height: var(--service-component-height);
    border-radius: var(--card-radius-value);
    box-sizing: border-box;    
    margin: 0;    
    padding: 0;
    background-color: white;
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;

}

.serviceTitle{
    font-size: var(--service-title-font-size);
    width: 100%;    
    height: fit-content;
    text-align: center;
    box-sizing: border-box;
    margin: 0;    
    padding: 0;
}

.serviceTitleSpan{
    color: var(--service-title-span-color);    
    font-size: var(--service-title-span-size);
}

.serviceIcon{
    width: var(--service-icon-width);    
    height: var(--service-icon-height);
}

#serviceMainTitle{
    margin: 2% 0 0 0;    
    display: flex;    
    justify-content: center;    
    align-items: center;
}

/* * Benefits Components classes: */
.benefitComponent{
    display: flex;    
    flex-direction: column;    
    justify-content: center;    
    align-items: center;
    width: 42%;    
    height: var(--benefit-component-height); 
    border-radius: var(--card-radius-value);
    background-color: white;
}

.benfitsContainer{
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 3%;
    width: 100%;    
    height: 42%;
    margin-bottom: 3%
}

.benefitTitle{
    font-size: var(--benefit-title-font-size);    
    color: var(--font-color);
    width: fit-content;    
    height: fit-content;
}

.benefitTitleSpan{
    font-size: var(--benefit-title-span-font-size);    
    color: var(--benefit-title-span-color);
}

.benefitIcon{
    width: var(--benefit-icon-width);    
    height: var(--benefit-icon-height);
}

#benefitsMainTitle{
    margin-bottom: 2%;    

}

/* * App slider section components: */
.appSliderImage{
    width: var(--app-slider-image-width);    
    height: var(--app-slider-image-height);
}

.stepMessage{
    font-size: var(--step-message-font-size);
    width: 99%;    
    height: 3vh;
    margin-bottom: 1vh;
}

#sliderTitle{
    height: 7%;
    font-size: var(--slider-title-font-size);
}


/* *Contact section components: */
.contactCard{
    width: 75vw;    
    height: 65vh;
    display: flex;
    margin-top: 2%;
    border-radius: var(--contact-card-border-radius);
    background-color: white;
}

.contactIcon{
    width: var(--contact-icon-width);    
    height: var(--contact-icon-height);    
    transition: all var(--general-transition-time);
}

.contactIcon:hover{
    scale: 1.1;
}

.iconsContainer{
    width: 100%;    
    height: fit-content;    
    margin-bottom: 6.5%;
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 3.5%;
}

.contactTitleIcon{
    color: var(--benefit-title-span-color);    
    font-size: var(--contact-title-font-size);
    animation: float3 linear infinite 2s;
}

#contactText{
    width: 96%;    
    height: fit-content;
    font-size: var(--contact-text-font-size);    
    color: var(--contact-text-color);
    text-align: center;
}

.contactSpan{
    color: var(--hover-main-span);
    font-size: var(--contact-span-font-size);
}

.contactCardSection{    display: flex;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;    

    width: var(--contact-card-section-width);    
    height: var(--contact-card-section-height);
}

.iconsTitle{
    font-size: var(--icons-title-font-size);    
    margin-bottom: 1%;
}

.inconsTitleSpan{
    font-size: var(--icons-title-span-font-size);
    color: var(--hover-main-span);
}

@keyframes float2 {
    0%, 100%{
        transform: translateY(0%);    
    }

    50%{
        transform: translateY(3%);    
    }
}

@keyframes float3 {
    0%, 100%{
        transform: translateY(0rem);    
    }

    50%{
        transform: translateY(0.4rem);    
    }
}

#cardMainIcon{
    border-radius: 100%;
    width: var(--main-image-card-width);    
    height: var(--main-image-card-height);    
    margin-bottom: 14%;
    animation: infinite linear float2 2s;
    transition: all var(--general-transition-time);
}

#cardMainIcon:hover{
    scale: 1.07;
}

#contactsMainTitle{
    height: 8%;    
    display: flex;    
    align-items: center;    
    justify-content: center;
}

#gmailIconMessage{
    display: block;
    visibility: hidden;
    width: var(--contact-icon-width);    
    height: var(--contact-icon-height);
    text-align: center;
    z-index: 2;    
    position: absolute;
    left: 1;
    margin-right: -8%;
    font-size: 110%;
    background-color: whitesmoke;    
    opacity: 50%;
    transition: all var(--general-transition-time);
}

#gmailIconMessage:hover{
    visibility: visible;
}

/* * App features section components. */

/* *Slider: */
#appSlider{
    border-radius: var(--carousel-border-radius);
}

.appSlide{
    width: 100%;    
    height: 100%;    
    border-radius: var(--carousel-border-radius);
    background-color: white;
    display: flex;    
    flex: none;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;
    border: var(--slide-border-size) solid var(--slide-border-color);
}

.sliderCard{
    display: flex;    
    flex-direction: column;
    width: 50%;    
    height: 57%;    
    background-color: red;
}

.sliderIcon{
    width: 46%;    
    height: 46%;
}

#localIcon{
    z-index: 2;
    top: 0.2%;
}

.slideTitle{
    font-size: var(--slide-title-font-size);
}

.slideText{
    font-size: var(--slide-text-size);
    color: var(--benefit-title-span-color);
    width: var(--slide-text-width);    
    height: fit-content;    
    text-align: center;
}

.slideTextSpan{
    color: var(--slide-border-color);    
    font-size: var(--slide-text-span-size);
}

.appSliderImage{
    margin-top: 14.1%;
}

/* *Footer styles: */
.contactIconFooter{
    width: var(--contact-footer-icon-width);    
    height: var(--contact-footer-icon-height);
    transition: all var(--general-transition-time);
}

.contactIconFooter:hover{
    scale: 1.2;
}

.footerMainText{
    width: fit-content;    
    height: fit-content;
    font-size: var(--footer-main-text-size);
}

/* * SECTION STYLES */

/* *Main section : */
#mainSection{
    height: var(--main-section-height);
    display: flex;
    flex-direction: column;    
}

#infoBoxSection{
    box-sizing: border-box;
    width: var(--info-box-main-section-width);    
    height: var(--info-box-main-section-height);
    padding: 4.5% 0 0 2%;
    display: flex;    
    align-items: center;    
    flex-direction: column;    
    justify-content: center;
}

#sliderSection{
    width: var(--slider-main-section-width);    
    height:  var(--slider-main-section-height);
    overflow: hidden;
    padding: 7% 0 0 0;    
    display: flex;    
    justify-content: center;    
    align-items: center;
}

/* * Services Section: */
.sectionForServices{
    width: 100%;    
    height: 50%;
    display: flex;    
    justify-content: center;
    gap: 3%;
}

#servicesSection{
    display: flex;    
    flex-direction: column;
}

#sectionForServices1{
    align-items: end;
    padding-bottom: 1%;
}

#sectionForServices2{
    align-items: start;
    padding-top: 1%;    
    padding-bottom: 1%;
}

/* *Benefits section styles: */
#benefitsSection{
    display: flex;    
    flex-direction: column;
}

/* *Contacts section: */
#contactsSection{
    height: 104vh;
}

/* * App slider section: */
#appSliderSection{
    display: flex;    
    flex-direction: column;    
    justify-content: start;    
    flex-wrap: wrap;    
    align-items: center;
    height: var(--app-slider-section-height);
}

/* *Application section: */
#applicationSection{
    display:flex;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;
}

#contactsSection{
    display: flex;    
    align-items: center;    
    justify-content: center;    
    flex-direction: column;
}


@media(max-width:450px){

    :root{
    
        /* *Navbar: */
        --nav-option-list-width: 100%;
        --nav-option-list-height: fit-content;

        /* *Main section components: */
        --main-section-height: 100vh;
        --prove-slider-container-2-width: 100vw;
        --prove-slider-container-2-height: 88vh;

        /* *InfoBox: */
        --main-icon-width: 4rem;    
        --main-icon-heigth: 4rem;
        --app-button-width: 47%;    
        --app-button-height: 2.2rem;
        --main-titles-size:1.4rem;    
        --sub-titles-size:1.5rem;    
        --title-size:1.2rem;    
        --section-main-title-span: 2.4rem;
        --app-button-radius: 1rem;
        --app-button-font-size: 0.8rem;
        --info-box-main-section-width: 100%;
        --info-box-main-section-height: 50%;
        --main-title-font-size: 2.4rem;
        --main-title-span-font-size: 3.3rem;
        --main-section-text-font-size: 1rem;
        --main-section-text-width: 97%;
        --info-box-width: 100%;
        --info-box-height: 100%;
        

        /* *Main slider: */
        --slider-animation-translate-size: 0.6rem;

        /* *Hero: */
        --hero-feature-font-size: 1.3rem;

        /* *Service section components: */

        /* *Service card: */
        --service-title-span-size: 1.2rem;    
        --service-title-font-size: 1.1rem;    
        --service-component-width: 82vw;
        --service-component-height: 49vh;
        --service-icon-width: 62%;    
        --service-icon-height: 62%;    

        /* *Benefits section components: */

        /* *Benefit card: */
        --benefit-title-font-size: 0.8rem;    
        --benefit-title-span-font-size: 0.9rem;
        --benefit-icon-width: 74%;    
        --benefit-icon-height: 74%;
        --benefit-component-height: 58%;

        /* *AppSlider section components: */
        --step-message-font-size: 1.1rem;
        --app-slider-image-width: 75vw;    
        --app-slider-image-height: 54.3vh;

        /* *Contact section components: */

        /* *Contact card */  
        --main-image-card-width: 100px;    
        --main-image-card-height: 100px;    
        --contact-text-font-size: 0.8rem;    
        --contact-span-font-size: 0.9rem;    
        --icons-title-span-font-size: 0.9rem;    
        --icons-title-font-size: 0.8;
        --contact-icon-width: 3.6rem;    
        --contact-icon-height: 3.6rem;
        --contact-title-font-size: 1.2rem;
        --contact-card-section-width: 100%;
        --contact-card-section-height: 50%;

        /* *Carousel section components: */
        
        /* *Carousel*/  
        --slide-text-size: 1rem;    
        --slide-text-span-size: 1.1rem;
        --slide-text-width: 83%;
        --app-slider-section-height: 80vh;
        --slide-title-font-size: 1.3rem;
        --slider-title-font-size: 1.5rem;    

        /* *Footer: */
        --footer-main-text-size: 0.8rem;
        --contact-footer-icon-width: 1.7rem;
        --contact-footer-icon-height: 1.7rem;

    }

    .navOption{
        font-size: 0.49rem;
        margin:0;
    }

    #logoTitle{
        font-size: 2.57rem;
    }

    #pageLogoSpan{
        font-size: 2.57rem;
    }

    #logoContainer{
        margin-right: 3%;
    }

    #mainSection{
        flex-direction: column-reverse;    
        padding: 0%;
    }

    .service{
        margin: 5% 0 5% 0;
        width: 82vw;
        height: 49vh;
    }

    #servicesSection{
        overflow: visible;
        height: fit-content;
    }

    #sectionForServices1{
        align-items: center; 
    }

    #benfitsContainer1{
        align-items: center;
    }

    #benfitsContainer{
        align-items: start;
    }

    #benefitsMainTitle{
        margin: 7% 4.5% 0 0;
        font-size: 1.35rem;
        padding: 2% 0 0 0;
    }

    .benefitTitle{
        text-align: center;    
    }

    .benfitsContainer{
        padding: 3% 0 0 0;
    }

    .iconTitle{
        font-size: 0.9rem;    
    }

    .contactCard{
        flex-direction: column;
        margin-top: 10%;  
    }

    .appSliderImage{
        margin-top: 24%;  
        width: 85vw;  
        height: 63vh;
    }

    #appSliderSection{
        padding-top: 32%;
    }

    #proveSliderContainer1{
        width: 89vw;    
        height: 74vh;
    }

    #globalSlide{
        padding-bottom: 15%;    
    }

    #globalIcon{
        top: 28%;    
    }

    #proveSliderContainer2{
        width: 100vw;
        height: 68.1vh;    
        overflow: visible;
        margin-top: 61%;
    }

    #navBar{
        flex-direction: column;    
        align-items: center;   
        justify-content: center;
        padding: 0%;    
    }

    #navOptionsList{
        background-color: #205372;
        justify-content: center;    
        align-items: start;
        gap: 0.5rem;
        margin: 0;
        padding: 0;
        padding-right: 9.5%;
        width: 100vw;
        height: fit-content;
    }

    #logoContainer{
        margin: 0;
        width: fit-content;   
    }

    #contactsMainTitle{
        margin-bottom: 7%;   
        font-size: 1.1rem;
    }

    .contactCardSection{
        width: 100%;
    }

    #mainComponentsContainer{
        flex-direction: column-reverse;
        height: 100%;
    }

    #mainText{
        margin: 0 0 7% 0;
        padding: 0;
    }

    #infoBox{
        justify-content: center;
        align-items: center;
    }

    #mainSectionText{
        margin: 2% 0 3% 0%;
    }

    .appButton{
        gap: 1.8%;
    }

    #buttonsContainer{
        padding-left: 4%;
        gap: 2%;
        margin-bottom: 7%;
    }

    #localIcon{
        top: 8.6%;
    }

    .sectionForServices{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    .serviceTitle{
        font-size: 1.4rem;
    }

    .serviceTitleSpan{
        font-size: 1.5rem;
    }

    #servicesContainer{
        padding: 0;
        margin: 2% 0 0 0 ;
        height: fit-content;
    }

    .benefitTitle{
        font-size: 1.1rem;
    }

    .benefitTitleSpan{
        font-size: 1.2rem;
    }

    .benefitComponent{
        height: 36vh;
        margin:1% 0 0 0;
    }

    #sectionForServices2{
        align-items: center;
    }

    #pageFooter{
        gap: 2%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footerIcons{
        gap: 2%;
        width: fit-content;
        height: fit-content;
    }

    #heroMainContainer{
        display: none;
    }

    #sliderSection{
        width: 100%;
        height: 49%;   
    }

    #sliderTitle{
        padding: 4% 0 0 0;
        font-size: 1.3rem;
    }

    #infoBoxSection{
        width: 100%;
        height: 51%;
    }

    #webAppImage{
        width: 125vw;
        height: 29vh;
    }

    #phoneAppImage{
        width: 70vw;
        height: 58vh;
    }

    .accessIcon{
        width: 1.7rem;
        height: 1.7rem;
    }

    #slideText4{
        margin-bottom: 8%;
    }

    .slideText{
        font-size: 1.2rem;
        width: 85%;
    }

    .slideTextSpan{
        font-size: 1.3rem;
    }

    .footerMainText{
        width: fit-content;
        height: fit-content;
    }

}

/* *Horizontal responsive: */
@media(max-width: 910px){

    :root{
        /* *Navbar: */
        --link-font-size:0.7rem;
        --nav-option-list-width: 65%;
        --nav-option-list-height: fit-content;
    
        /* *Main section components: */
        --main-section-height: 100vh;
    
        /* *InfoBox: */
        --access-icon-width: 2rem;    
        --access-icon-height: 2rem;
        --main-icon-width: 2.3rem;    
        --main-icon-heigth: 2.3rem;
        --app-button-width: 37%;    
        --app-button-height: 1.9rem;
        --main-titles-size:1.8rem;    
        --sub-titles-size: 1.5rem;    
        --title-size: 1.2rem;    
        --section-main-title-span: 2.4rem;
        --app-button-radius: 1rem;
        --app-button-font-size: 0.7rem;
        --info-box-main-section-width: 51%;
        --info-box-main-section-height: 100%;
        --main-title-font-size: 2rem;
        --main-title-span-font-size: 2.2rem;
        --main-section-text-font-size: 1.3rem;
        --main-section-text-width: 100%;
        --info-box-width: 100%;
        --info-box-height: fit-content;
    
        /* *Main slider: */
        --slider-main-section-width: 49%;
        --slider-main-section-height: 100%;
        --web-app-image-width: 66vw;    
        --web-app-image-height: 60vh; 
        --phone-app-image-width: 34vw;    
        --phone-app-image-height: 115vh;
        --slider-animation-translate-size: 0.4rem;
    
        /* *Hero: */
        --hero-feature-font-size: 1.3rem;
    
        /* *Service section components: */
    
         /* *Service card: */
        --service-title-span-size: 0.9rem;    
        --service-title-font-size: 0.8rem;    
        --service-title-radius-value: 1.2rem;
        --service-icon-width: 62%;    
        --service-icon-height: 62%;
        --card-radius-value: 1.3rem;
        --service-component-width: 33.33%;
        --service-component-height: 83%;

        /* *Benefits section components: */
    
        /* *Benefit card: */
        --benefit-title-font-size: 1.3rem;    
        --benefit-title-span-font-size: 1.4rem;
        --benefit-icon-width: 104%;    
        --benefit-icon-height: 104%;
        --benefit-component-height: 100%;
    
        /* *AppSlider section components: */
        --step-message-font-size: 1.2rem;
        --app-slider-image-width: 25vw;    
        --app-slider-image-height: 71vh;
        --slider-image-container-width: 100%;    
        --slider-image-container-height: 100%;
    
        /* *Contact section components: */
    
        /* *Contact card */
        --contact-card-border-radius: 1.6rem;    
        --main-image-card-width: 100px;    
        --main-image-card-height: 100px;    
        --contact-text-font-size: 0.8rem;    
        --contact-span-font-size: 0.9rem;    
        --icons-title-span-font-size: 1rem;    
        --icons-title-font-size: 0.9rem;
        --contact-icon-width: 3.3rem;    
        --contact-icon-height: 3.3rem;
        --contact-title-font-size: 1.8rem;
        --contact-card-section-width: 50%;
        --contact-card-section-heigh: 100%;
    
        /* *Carousel section components: */
        
        /* *Carousel*/
        --carousel-border-radius: 1.6rem; 
        --slide-border-size: 0.5rem;    
        --slide-text-size: 0.9rem;    
        --slide-text-span-size: 1rem;
        --slide-text-width: 65%;
        --app-slider-section-height: 105vh;
        --slide-title-font-size: 2.3rem;
        --slider-title-font-size: 1.7rem;    
    
        /* *Footer: */
        --footer-main-text-size: 1rem;
        --contact-footer-icon-width: 3.5rem;
        --contact-footer-icon-height: 3.5rem;
        
    }

    .navOption{
        font-size: 0.6rem;
    }

    #navOptionsList{
        margin-left: 9%;
    }

    #heroMainContainer{
        visibility: hidden;
    }

    #appSliderSection{
        height: 120vh;
    }

    #benefitsSection{
        height: 110vh;
    }

    #mainText{
        margin-top: 5%;
    }

    #contactsMainTitle{
        height: 11%;
    }

}